@font-face {
  font-family: "eternal";
  src: url(/public/fontsFamily/eternalsfuturisticspace/Eternal.woff)
    format("woff");
}

.spaceCuriosityBox {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  place-items: center;
  width: min(100%, 500px);
  margin: 0 auto;
}

.boxes {
  margin-top: 2rem;
  color: var(--color-primary-letter);
  padding: 1rem;
  font-size: 2rem;
}

.title {
  text-align: center;
  text-shadow: var(--color-primary-textshadowmain);
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-shadow: var(--color-primary-textshadowinfo);
  font-size: 1.3rem;
}

.change {
  border: none;
  margin-top: 5rem;

  padding: 1rem;
  margin: 0 auto;

  transition: all 500ms ease;
  cursor: pointer;
}

.rotatingIcon {
  width: 30px;
  height: 30px;
  background-image: url(/public/images/refresh.jpg);
  background-position: center;
  background-size: cover;

  background-color: transparent;
}

.change:hover {
  transform: rotate(360deg) scale(1.5);
}

.change:active {
  transform: scale(0.9);
  transform: rotate(180deg);
}

.footer {
  margin-bottom: 1rem;
  text-shadow: var(--color-primary-textshadowmain);
  font-size: 1.3rem;
}
